<html>
	<head></head>
	<body>
		Menu de l'api
		<br/>
		Object : {{this.api.object}}<br/>
		Type : {{this.api.type}}<br/>
		Partial name : {{this.partialname}}<br/>
		Samples : {{this.samples}}<br/>

		Exemples:
		{{#each this.samples}}
		<pre>
			{{renderpartial ../this.partialname ../this}}
		</pre>
		{{/each}}
	</body>
</html>
